force-app/main/default/flows/Status_KPIs_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Days_in_Variable</name>
        <label>Set Days in Variable</label>
        <locationX>446</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>CurrentDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Days_in_Current_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Changed_To</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Status_Start_Date_Null</name>
        <label>Is Status Start Date Null</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Set_Days_in_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Start</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed_To</name>
        <label>Status Changed To</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iCertis_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>iCertis Entry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Days_in_iCertis</targetReference>
            </connector>
            <label>iCertis Entry</label>
        </rules>
        <rules>
            <name>Legal_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Days_in_Legal_Review</targetReference>
            </connector>
            <label>Legal Review</label>
        </rules>
        <rules>
            <name>Cancelled_or_Expired</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Days_from_Created_to_Cancelled_Expired</targetReference>
            </connector>
            <label>Cancelled or Expired</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DaysFromCreatedtoCancelled</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDate} - DATEVALUE({!$Record.CreatedDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Status KPIs - Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Status KPIs - Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Days_from_Created_to_Cancelled_Expired</name>
        <label>Set Days from Created to Cancelled/Expired</label>
        <locationX>578</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>Days_from_Start_to_End_Legal__c</field>
            <value>
                <elementReference>DaysFromCreatedtoCancelled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Days_in_iCertis</name>
        <label>Set Days in iCertis</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>Days_in_iCertis_Entry__c</field>
            <value>
                <elementReference>CurrentDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Days_in_Legal_Review</name>
        <label>Set Days in Legal Review</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>Days_in_Legal_Review__c</field>
            <value>
                <elementReference>CurrentDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_Start</name>
        <label>Set Status Start</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Set_Days_in_Variable</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Status_Start_Date_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
